body {
    margin: 0;
    background-color: rgb(60, 45, 30);
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    opacity: 0.5;
    z-index: -1;
}

#header {
    background-color: #131313;
    color: white;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 32px;
}

#links {
    display: flex;
    gap: 20px;
}
#links a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman';
}
